* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Inconsolata', monospace; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'IBM Plex Sans', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Work Sans', sans-serif; */
  font-family: 'Libre Franklin', sans-serif;
  /* color: white; */
  /* align-items: center; */

}

main {
  min-height: 80vh;
  background: #fff3c7;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  /* margin: 1rem 1rem; */
  /* padding: 0 10rem 0 10rem; */
  max-width: 65rem;
  margin: 0 auto;
}

section {
  padding: 2rem;
  line-height: 2rem;
}

h1 {
  margin-bottom: 1rem;
}

h1:not(:first-child) {
  padding-top: 3rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem;
  font-size: 0.8rem;
}

.heading {
  background-color: #ff5050;
  color: #000;
  padding: 4rem;
  display: flex;
  width: 100%;
  justify-content: center;
  /* background-image: url("./img/img8.jpg"); */
  background-repeat:no-repeat;
  background-size: 100%;
  transition-duration: 0.5s;
  /* transform: translateY(3.2rem); */
  /* overflow: hidden; */
  position: relative;

}

.heading:hover {
  padding-top: 15rem;
  padding-bottom: 15rem;
  transition-duration: 1s;
}


.heading h1 {
  padding: 0;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  /* filter: blur(0); */
  text-shadow: 2px 2px 2px #00000080;
  /* letter-spacing: 0.5ch; */
}

/* p {
  max-width: 70rem;
} */

.menu ul {
  list-style-type: none;
  background-color: #0FA3B1;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 1.1rem 2rem */
}

a {
  text-decoration: none;
  color: #0FA3B1;
}

.menu ul li a {
  /* margin-right: 1rem; */
  /* margin-left: */
  /* background-color: #000; */
  padding: 1rem 2rem 1rem 2rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  color: #fff
}

.menu ul li a.active {
  background-color: #fff3c7;
  color: #000;
  /* padding: 1rem 1.1rem 1rem 2rem; */
}

.menu ul li a:hover:not(.active) {
  background-color: #D9E5D6;
  color: #000;
  transition-duration: 100ms;
  /* padding: 1rem 1.1rem 1rem 2rem; */
}


section li {
  margin-left: 2rem;
  color: #000;
}

/* Referenced from */
/* https://www.benmarshall.me/responsive-iframes/ */
.iframe-container {
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 100ch;
}

.gallery div img {
  padding-right: 1rem;
  padding-bottom: 1rem;
  max-width: 15rem;
}

.gallery div {
  /* justify-content: center; */
  /* align-content: center; */
  max-width: 100ch;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
  .menu ul li a {
    padding: 0.5rem 0.4rem;
    width: auto;
  }

  .heading:hover {
    padding-top: 10rem;
    padding-bottom: 10rem;
    transition-duration: 1s;
  }
  
}