* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
}

main {
  min-height: 80vh;
  background: #fff3c7;
  display: flex;
  flex-direction: column;
  max-width: 65rem;
  margin: 0 auto;
}

section {
  padding: 2rem;
  line-height: 2rem;
}

h1 {
  margin-bottom: 1rem;
}

h1:not(:first-child) {
  padding-top: 3rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem;
  font-size: 0.8rem;
}

.heading {
  background-color: #ff5050;
  color: #000;
  padding: 4rem;
  display: flex;
  width: 100%;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition-duration: 0.5s;
  position: relative;
}

.heading:active {
  padding-top: 15rem;
  padding-bottom: 15rem;
  transition-duration: 1s;
}

.heading h1 {
  padding: 0;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  text-shadow: 2px 2px 2px #00000080;
}

.menu ul {
  list-style-type: none;
  background-color: #0FA3B1;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #0FA3B1;
}

.menu ul li a {
  padding: 1rem 2rem 1rem 2rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  color: #fff
}

.menu ul li a.active {
  background-color: #fff3c7;
  color: #000;
}

.menu ul li a:hover:not(.active) {
  background-color: #D9E5D6;
  color: #000;
  transition-duration: 100ms;
}

section li {
  margin-left: 2rem;
  color: #000;
}

/* Referenced from */
/* https://www.benmarshall.me/responsive-iframes/ */
.iframe-container {
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 100ch;
}

.gallery div img {
  padding-right: 1rem;
  padding-bottom: 1rem;
  max-width: 15rem;
}

.gallery div {
  max-width: 100ch;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
  .menu ul li a {
    padding: 0.5rem 0.4rem;
    width: auto;
  }

  .heading:hover {
    padding-top: 10rem;
    padding-bottom: 10rem;
    transition-duration: 1s;
  }
}

.column div {
  margin-right: 1rem;
}
